<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css">
</head>
<style>
    .dataTables_paginate {
        float: right !important;
    }
</style>
<body style="background-color: ghostwhite;">
<div class="topnav">
    <a class="active" th:href="@{/}">Home</a>
    <a th:href="@{/user/orders}" style="float: left">My Orders</a>
    <a th:href="@{#}" style="float: right">Hi, <span sec:authentication="name"></span></a>
    <a th:href="@{/logout}" style="float: right">Logout</a>
</div>
<div th:if="${cartItems!= null}" style="float: right;margin-top: 10px;">
    <a th:href="@{/cart/view}">
        <button type="button" class="btn btn-success btn-lg">View Cart
        </button>
    </a>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color: ghostwhite">

    <div class="container">
        <h1 style="text-align: center; font-family: fantasy; font-size: 40px !important;margin-top: -20px;">Books in
            the database</h1>
        <hr>
        <div class="form-group">
            <label for="search">Search:</label>
            <input type="text" class="form-control" id="search" placeholder="Search by name, author, etc.">
        </div>
        <table class="table table-bordered table-responsive-md" id="table_id_2">
            <thead>
            <tr>
                <th>Book Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${productsList}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.description}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.stock}"></td>
                <td>
                    <form th:action="@{/cart/add/{id}(id=${book.id})}" method="get">
                        <input type="number" name="quantity" th:value="${quantityValue}" placeholder="Quantity"
                               size="20" min="1" th:max="${book.stock}">
                        <button type="submit" class="btn btn-info">Add To Cart</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#table_id_2').DataTable({
            "dom": "tp",
            "ordering": false,
            "pagingType": "simple",
            "lengthMenu": [10]
        });

        // Add search functionality
        $('#search').on('keyup', function () {
            table.search(this.value).draw();
        });
    });
</script>
</body>
</html>