<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    body, html {
        height: 100%;
        margin: 0;
    }
</style>
<body style="background-color: ghostwhite;">
<div class="topnav">
    <a th:href="@{/}">Online Book Store</a>
</div>
<div style="text-align: center">
    <h1>Something went wrong!</h1>
    <h2>Our Engineers are on it</h2>
    <br>
    <a th:href="@{/}">
        <button type="button" class="btn btn-primary btn-lg btn-block">Go Home</button>
    </a>

</div>
</body>
</html>