<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form </title>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
    <div class="topnav">
        <a th:href="@{/}">Online Book Store</a>
        <a th:href="@{/register}" style="float: right">Register</a>
        <a class="active" th:href="@{/login}" style="float: right">Login</a>
    </div>
</div>
<div class="container">
    <div class="title">Registration</div>
    <h2 class="content" style="text-align: center; color: darkgreen" th:if="${successfully}">User is successfully registered !!</h2>
    <hr th:if="${successfully}" class="content">
    <div class="content">
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" th:field="*{firstName}" placeholder="Enter your first name" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" th:field="*{lastName}" placeholder="Enter your last name" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" th:field="*{email}" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" th:field="*{username}" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" th:field="*{password}" placeholder="Enter your password" required>
                </div>
                <div class="input-box">
                    <span class="details">Address</span>
                    <input type="text" th:field="*{address}" placeholder="Enter your address" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
</body>
</html>