<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: ghostwhite;">
<div class="topnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/user/orders}" style="float: left">My Orders</a>
    <a th:href="@{#}" style="float: right">Hi, <span sec:authentication="name"></span></a>
    <a th:href="@{/logout}" style="float: right">Logout</a>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color: ghostwhite">
    <h1 th:if="${emptyCart}"
        style="text-align: center; font-family: fantasy; font-size: 25px !important;color: red">Your cart is
        empty, kindly buy some items first</h1>
    <hr>
    <div class="container">
        <h1 style="text-align: center; font-family: fantasy; font-size: 40px !important;margin-top: -20px;">Products in
            the Cart</h1>
        <hr>
        <table class="table table-bordered table-responsive-md">
            <thead>
            <tr>
                <th>Book Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${cartItems}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.description}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.quantityToBuy}"></td>
                <td>
                    <a th:href="@{/cart/remove/{id}(id=${book.id})}">
                        <button type="button" class="btn btn-danger btn-sm">Remove Book
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <p style="font-style: inherit;font-family: fantasy;float: right;font-size: 25px;">Total Price of all the
                items is: <span th:text="${totalPrice}"></span></p>
        </div>
        <a th:href="@{/cart/checkout}">
            <button type="button" class="btn btn-success btn-lg btn-block">Checkout
            </button>
        </a>
        <br>
        <a th:href="@{/}">
            <button type="button" class="btn btn-info btn-lg btn-block">Continue Shopping
            </button>
        </a>
    </div>
</div>
</body>
</html>